extends layout

block content
    div.container-fluid        
        ul.nav.nav-pills.nav-stacked#gateways
    button.btn.btn-default(onclick='history.back()')
    script(src='/javascripts/loadgateways.js')