extends layout

block content
    div.container-fluid        
        ul.nav.nav-pills
            each item in items    
                li(role='presentation')
                    a(href=item.href) #{item.text}