extends layout

block content
    div.container-fluid
        if (needAlert)
            if (success)
                div.alert.alert-success(role='alert')
                    strong Success!
                    | Rule has been added
            else
                div.alert.alert-danger(role='alert')
                    strong Failure
                    | Rule could not be added
        div#accordion
            h2 Your active templates
            div
                p
                    a.btn.refresh-button(href='#', onclick='javascript:loadRules();') Refresh
                table#templates-table.table.table-striped.table-bordered.table-hover
                    thead
                        tr
                            th Template
                            th Time
                            th Description
                            th User
                            th Time
                            th Name
                            th ID
                            th Status
                            th Trigger
                            th Actions
                            th Severity
            h2 Your active rules
            div
                p
                    a.btn.refresh-button(href='#', onclick='javascript:loadRules();') Refresh
                table#rules-table.table.table-striped.table-bordered.table-hover
                    thead
                        tr
                            th ID
                            th Severity
                            th Service
                            th Time
                            th Timezone
                            th User
                            th Trigger
                            th Name
                            th Site
                            th Status
                            th Conditions
                            th Actions
                            th Last active
            h2 Add new rule
            div
                form(method='POST')
                    .form-group
                        label(for='input-name') Name
                        input#input-name.form-control(name='name',type='text', aria-describedby='nameHelp', placeholder='Enter rule name', value='Out (local)')
                        small#ruleHelp.form-text.text-muted Please name your rule
                    .form-group
                        label(for='input-name') Description
                        input#input-name.form-control(name='desc',type='text', value='Send push message when someone go out') 
                    .form-group
                        label(for='input-severity') Severity
                        select#input-severity.form-control(name='severity')
                            option information
                            option warning
                            option fatal
                    .form-group
                        label(for='input-timezone') Time zone
                        select#input-timezone.form-control(name='timezone')
                            option -12
                            option -11
                            option -10
                            option -9
                            option -8
                            option -7
                            option -6
                            option -5
                            option -4
                            option -3
                            option -2
                            option -1
                            option 0
                            option +1
                            option +2
                            option +3
                            option +4
                            option +5
                            option +6
                            option +7
                            option +8
                            option(selected) +9
                            option +10
                            option +11
                            option +12
                    .form-group
                        label(for='input-trigger') Trigger
                        textarea#input-trigger.form-control(rows='3', name='trigger')
                            |{"agent":"sensorValue","type":"onoff","method":{"name":"Changed","id":"changed","params":{"from":"0","to":"1","target":{"type":"gateway","id":"b827eb3460e4","sensors":["b827eb3460e4-0-ultra"]}}},"filter":{"type":["series"],"gateway":"*","sensor":["b827eb3460e4-0-ultra"]}}
                    .form-group
                        label(for='input-condition') Condition
                        textarea#input-condition.form-control(rows='3', name='conditions')
                            |[[]]
                    .form-group
                        label(for='input-action') Action
                        textarea#input-action.form-control(rows='3', name='actions')
                            |[[{"agent":"dataPush","type":"dataPush","method":{"name":"push","id":"push","params":{"url":"http://radiant-caverns-89285.herokuapp.com/api/trigger/1/OUT"}}}]]
                    .form-group
                        label(for='input-enabled') Status
                        select#input-enabled.form-control(name='status')
                            option activated
                            option deactivated
                    .form-group
                        label(for='input-template') Use only as template
                        select#input-template.form-control(name='template', disabled)
                            option false
                            option true
                    button.btn.btn-primary(type='submit') Submit
        br
        p
            a.btn.btn-primary(href='/') Go back
    script(src='/javascripts/rules.js')