extends layout

block content
    div.container-fluid        
        p Your active rules
        table#rules-table.table
            thead
                tr
                    th Template
                    th Time
                    th Description
                    th User
                    th Time
                    th Name
                    th ID
                    th Status
                    th Trigger
                    th Actions
                    th Severity
        p
        a.btn.btn-primary(href='#', onclick='history.back()') Go back
    script(src='/javascripts/rules.js')