extends layout

block content
    div.container-fluid        
        p Your active rules
        table#rules-table.table.table-striped.table-bordered.table-hover
            thead
                tr
                    th Template
                    th Time
                    th Description
                    th User
                    th Time
                    th Name
                    th ID
                    th Status
                    th Trigger
                    th Actions
                    th Severity
        p
            a.btn.btn-primary(href='/') Go back
            a.btn.btn-default(href='#', onclick='javascript:loadRules();') Refresh
    script(src='/javascripts/rules.js')