extends layout

block content
    div.container-fluid        
        p Your trains
        div#newtrain Add train
        ul#trains.train
        p
        a.btn.btn-primary(href='/')
            span.glyphicon.glyphicon-flash Go back
    script(src='/javascripts/trains.js')