body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#newtrain {
    fill: white;
    color: #228B22;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #228B22;
    width: 100%;
}

ul.train {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.train>li,
li#draggable {
    border: 1px solid #00B7FF;
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: inline-block;
    background-image: url('/images/subway.png');
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

.cars {
    text-align: center;
    padding-left: 0;
}

.car {
    margin: 5px;
    padding: 10px 5px 5px 5px;
    margin-bottom: 10px;
    list-style-type: none;
    border: none;
    display: inline-block;    
    width: 200px;
    height: 70px;
    background-image: url('/images/car.png');
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    color: #000000;
}

.crowded {
    border: 1px solid #D8402B;
}

.newcar {
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid #228B22;
}

#rules-table td,
#templates-table td,
#gateways-table td {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

#rules-table td:hover,
#templates-table td:hover,
#gateways-table td:hover {
    white-space: pre-wrap;
    max-width: initial;
}

.refresh-button {
    color: #ffffff;
    border-color: #0275d8;
}